.header {
  min-height: 5rem;
  width: 100%;
  //   background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  padding-block: 15px;

  .logo {
    max-width: 3rem;
  }

  .nav-logo {
    font-family: var(--Inter), sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #000000;

    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 170%;
    }
  }
  a.button {
    padding: 16px 32px;
    background: #000000;
    border: 1px solid #000000;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #ffffff;

    @media (max-width: 700px) {
      display: none;
    }
  }
}
